body {font-family: Arial, Helvetica, sans-serif;}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}
div.head-line{
    padding: 50px;
    text-align: center;
    font-size:  xx-large;
    color: #666666;
}
.small-head{
    font-size:12pt;
    color: #666666;
    text-align: center;
    font-weight: bolder;
}
td.header{
    font-size: 8pt;
    text-align: right;
    color: #999999
}  
.container {
    padding: 16px;
    margin : 0 auto;
    width: fit-content;
}
